altgraph==0.17.4 ; python_version >= "3.10" and python_version < "3.14"
av==12.3.0 ; python_version >= "3.10" and python_version < "3.14"
blinker==1.8.2 ; python_version >= "3.10" and python_version < "3.14"
bottle==0.13.2 ; python_version >= "3.10" and python_version < "3.14"
certifi==2024.8.30 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "3.14"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "3.14"
ctranslate2==4.5.0 ; python_version >= "3.10" and python_version < "3.14"
faster-whisper==1.0.3 ; python_version >= "3.10" and python_version < "3.14"
filelock==3.16.1 ; python_version >= "3.10" and python_version < "3.14"
flask==3.0.3 ; python_version >= "3.10" and python_version < "3.14"
flatbuffers==24.3.25 ; python_version >= "3.10" and python_version < "3.14"
fsspec==2024.10.0 ; python_version >= "3.10" and python_version < "3.14"
huggingface-hub==0.26.2 ; python_version >= "3.10" and python_version < "3.14"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "3.14"
idna==3.10 ; python_version >= "3.10" and python_version < "3.14"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.14"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "3.14"
macholib==1.16.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.14"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.14"
numpy==2.1.3 ; python_version >= "3.10" and python_version < "3.14"
onnxruntime==1.20.0 ; python_version >= "3.10" and python_version < "3.14"
packaging==24.1 ; python_version >= "3.10" and python_version < "3.14"
pefile==2023.2.7 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
protobuf==5.28.3 ; python_version >= "3.10" and python_version < "3.14"
proxy-tools==0.1.0 ; python_version >= "3.10" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
pyinstaller-hooks-contrib==2024.9 ; python_version >= "3.10" and python_version < "3.14"
pyinstaller==6.11.0 ; python_version >= "3.10" and python_version < "3.14"
pyobjc-core==10.3.1 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
pyobjc-framework-cocoa==10.3.1 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
pyobjc-framework-quartz==10.3.1 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
pyobjc-framework-security==10.3.1 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
pyobjc-framework-webkit==10.3.1 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
pyqt5-qt5==5.15.15 ; python_version >= "3.10" and python_version < "3.14"
pyqt5-sip==12.15.0 ; python_version >= "3.10" and python_version < "3.14"
pyqt5==5.15.11 ; python_version >= "3.10" and python_version < "3.14"
pyqtwebengine-qt5==5.15.15 ; python_version >= "3.10" and python_version < "3.14"
pyqtwebengine==5.15.7 ; python_version >= "3.10" and python_version < "3.14"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "3.14"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.14"
pythonnet==2.5.2 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
pywebview[qt]==5.3.2 ; python_version >= "3.10" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.14"
qtpy==2.4.2 ; python_version >= "3.10" and python_version < "3.14"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.14"
setuptools==75.3.0 ; python_version >= "3.10" and python_version < "3.14"
sympy==1.13.3 ; python_version >= "3.10" and python_version < "3.14"
tokenizers==0.20.3 ; python_version >= "3.10" and python_version < "3.14"
tqdm==4.67.0 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "3.14"
werkzeug==3.1.2 ; python_version >= "3.10" and python_version < "3.14"
